.navbar-brand h1 { /* Restaurant name */
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  color: #666;
}

h2 {
    margin-top: 0;
}

.menu-div {
    background-color: darkgrey;
    padding: 10px;
    margin: 10px;
}

.menutitle {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em
}

.menucontent p {
    
}

.foot {
    height:40px;
}